@mixin set_sprite_base(){
	background-image: sprite-url($icons-1x);
	background-repeat: no-repeat;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: sprite-url($icons-2x);
	}
}
@mixin set_sprite($sprite, $putAll: true) {
	@if($putAll){
		@include set_sprite_base();
	}
	background-position: sprite-position($icons-1x, $sprite);
	height: image-height(sprite-file($icons-1x, $sprite));
	width: image-width(sprite-file($icons-1x, $sprite));
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-size: ceil(image-width(sprite-path($icons-2x)) / 2) ceil(image-height(sprite-path($icons-2x)) / 2);
		background-position: ceil(nth(sprite-position($icons-2x, $sprite), 1) / 2) ceil(nth(sprite-position($icons-2x, $sprite), 2) / 2);
		height: ceil(image-height(sprite-file($icons-2x, $sprite)) / 2) +1px;
		width: ceil(image-width(sprite-file($icons-2x, $sprite)) / 2) +1px;
	}
}
@mixin halfSpriteBack($sprite,$dir: left,$offset: 0px, $resOffset: false){
	@if ($resOffset == false){ $resOffset: $offset; }
	@if ($dir == left) { margin-left: -(image-width(sprite-file($icons-1x, $sprite))/2 + $offset); }
	@if ($dir == right) { margin-right: -(image-width(sprite-file($icons-1x, $sprite))/2 + $offset); }
	@if ($dir == top) { margin-top: -(image-height(sprite-file($icons-1x, $sprite))/2 + $offset); }
	@if ($dir == bottom) { margin-bottom: -(image-height(sprite-file($icons-1x, $sprite))/2 + $offset); }
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@if ($dir == left) { margin-left: - ceil(image-width(sprite-file($icons-2x, $sprite))/4 + $resOffset); }
		@if ($dir == right) { margin-right: - ceil(image-width(sprite-file($icons-2x, $sprite))/4 + $resOffset); }
		@if ($dir == top) { margin-top: - ceil(image-height(sprite-file($icons-2x, $sprite))/4 + $resOffset); }
		@if ($dir == bottom) { margin-bottom: - ceil(image-height(sprite-file($icons-2x, $sprite))/4 + $resOffset); }
	}
}