// RESPONSIVE
// BELOW 480px Low res


.mainPage{
  .header{
    &__user{
      width: col(2, 4);
      font-family: $fSignikaLight;
      &__img{
        border-radius: 4px;
        border: 1px solid $cWhite;
        float: left;
        width: s(31, 16);
        height: s(31, 16);
        margin: s(21, 16) s(5, 16) s(21, 16) 0;
      }
      &__logout{
        margin-left: s(5, 16);
      }

    }
  }
}
