$sFontSmallest: 10;
$sFontSmall: 11;
$sFontSmaller: 12;
$sFontSmallMedium: 13;
$sFontBaseMinSmall: 14;
$sFontBaseMin: 15;
$sFontBaseMed: 17;
$sFontBaseSup: 18;
$sFontSubTitle: 19;
$sFontBigMin: 20.42;
$sFontBigMed: 23;
$sFontBig: 25;
$sFontTitle: 34;
$sFontBiggest: 36;
$sFontSlideTitle: 41;

$sBaseLH: 27;
$sSmallLH: 14;
$sSmallMediumLH: 16;
$sSmallPlusLH: 18;
$sBaseMinLH: 25;
$sBaseSupLH: 30;
$sSubTitleLH: 22;
$sTitleLH: 40.8;
$sBiggestLH: 64;

//    SIZES

$sGutter: 20;

//    BLOCKS

$sHeaderHeight: 40;
$sFooterHeight: 300;
$sWpBar: 32;
$sServiceNavHeight: 645;

/*
//    RESPONSIVE
$sRespWPHigh: 1100;
$sRespWP: 782;
$sRespWPLow: 462;
$sRespWPBar: 46;*/
